<h2>About HamDackApp</h2>
<div class="fluid-container">
	<p><b>
		<a href="/trails">HamDackApp</a> is presented by the Hamilton College Academic Program in the Adirondacks.
	</br>
	</br></b>
		For more information about the program, click 
		<a href="www.hamilton.edu/adk" style="color:blue">here</a>

	</p>
</div>
