<h2>Contact</h2>
<p>For more information about the app or program, please contact
</br>
</br><b> Janelle Schwartz</b>
</br>(315) 859-4461
</br> <a href="mailto:jschwart@hamilton.edu" style="color:blue">jschwart@hamilton.edu</a></p>
