<h1>Login</h1>
<div id="loginForm">
	Username: <input type="text" name="username"><br>
	Password: <input type="text" name="password"><br>
	<input type="submit" name="submitButton">
<div/>

<p>No account? please <%= link_to 'signup', new_user_path%></p>