<header>
</header>
<body class="loginStyle">
	<div class="loginStyle">
		<h1 class="loginStyle">Login</h1>
		<div class="loginStyle">
			Username: <input type="text" name="username">
			Password: <input type="text" name="password">
		</div>
		<input type="submit" class="loginStyle" name="submitButton"><br>
		<p>No account? please <%= link_to 'signup', new_user_path%></p>
	</div>
</body>