<header>
</header>
<body class="loginStyle">
	<div>
		<h1>Welcome to the Adirondack Program Website!</h1>
		<h2>Please sign in</h2>
		Username: <input type="text" name="username">
		Password: <input type="text" name="password">
		<input class="button" type="submit" name="submitButton"><br>
		<p>No account? please <%= link_to 'signup', new_user_path%></p>
	</div>
</body>