<div class="row">
  	<div class="col-md-2"><%= gravatar_for(@user) %></div>
</div>
  	
<div class="row">
	<div class="col-md-3">Email: <%= @user.email %></div>
</div>

<div class="row">
  	<div class="col-md-3">Username: <%= @user.username %></div>
</div>

<div class="row">
  	<div class="col-md-4 col-md-offset-5">Reviews</div>
</div>

<% for review in @user.reviews %>
	<div class="row">
	  <div class="col-md-offset-5"><%= review.title %></div>
	</div>
<% end %>
	