<% if @user.errors.any?%>
	<div class="alert alert-danger">
		<button class="close" data-dismiss="alert">x</button>
		<%= pluralize(@user.errors.count, "error") %>
		prohibited this user from being saved:
	</div>
	<div class="alert alert-danger">
		<button class="close" data-dismiss="alert">x</button>
		<p> There were the following errors:</p>
		<ul>
			<% @user.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</div>
<% end %>


