<% if @user.errors.any?%>
	<div class="error_explanation">
		<%= pluralize(@user.errors.count, "error") %>
		prohibited this user from being saved:
	</div>
	<div class="error_list">
		<p> There were the following errors:</p>
		<ul>
			<% @user.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</div>
<% end %>