<div class="welcome-img container-fluid row center">
	<ul>
		<li id="left-part"><a href="/static_pages/home"><img src="/assets/hamilton_logo_otherpart.png" class="img-responsive inline-block" alt="Responsive image"></img></li>
		<li id="right-part"><a href="http://www.hamilton.edu/adk" target="_blank"><img src="/assets/hamilton_logo.png" class="img-responsive inline-block" alt="Responsive image"></img></a></li>
	</ul>
</div>