<h1>Trails</h1>
<ul>
	<% for t in @trails %>
	<li>Name: <%=link_to t.name, :action => "trail", :id => t.id%></li>
	<li>Description: <%=t.description%></li>
	<li>Rating: <%=t.rating%></li>
	<%end%> 
</ul>

