<h1>Add a Trail</h1>
<%= form_for Trail.new do |f| %>
	<table class="new_table">
		<tr>
			<th>Name</th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_area :description, :rows => 7 %></td>
		</tr>
	</table>
	<%= f.submit :class => "btn btn-default" %>
<% end %>
