// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/s


div.centered-div{
  margin-right: auto;
  margin-left: auto;
}

div.image-fill{
  margin-right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
  border-width: thick;
  background-color: white;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 0;
  border-width: 50px;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 2px solid;
border-top:0px;
border-radius:0;
border-color: black;
}

.well{
  margin-top:0px;
}

span div.panel{
  display: inline-block;
}



/* unvisited link */
a:link.link-style {
    color: #00A500;
}

body {
    -webkit-font-smoothing: antialiased;
    font-rendering: optimizedlegibility;
}

.well {
  background-color: white;
}

.panel-heading{
  background-color: #e7e7e7;
}

.well h2{
  margin-top:0;
}

/* visited link */
a:visited.link-style  {
    color: #00A500;
}

/* mouse over link */
a:hover.link-style  {
    color: #FF00FF;
    background: none;
}

/* selected link */
a:active.link-style  {
    color: #0000FF;
}

div.error_explanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   background-color: red;
}

div.error_list {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;
   background-color: #f0f0f0;
}

.error_list li {
   color: red;
}

.error_list p {
   color: red;
}

.field_with_errors {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:4px;
   background-color: #f0f0f0;
}

.field_with_errors label {
   color: red;
}

/* zach's css ^^ -------------- */
