// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* unvisited link */
a:link.link-style {
    color: #00A500;
}

body {
    -webkit-font-smoothing: antialiased;
    font-rendering: optimizedlegibility;
}

.well {
  background-color: white;
}

.panel-heading{
  background-color: #e7e7e7;
}

.well h2{
  margin-top:0;
}

/* visited link */
a:visited.link-style  {
    color: #00A500;
}

/* mouse over link */
a:hover.link-style  {
    color: #FF00FF;
    background: none;
}

/* selected link */
a:active.link-style  {
    color: #0000FF;
}

div.error_explanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   background-color: red;
}

div.error_list {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;
   background-color: #f0f0f0;
}

.error_list li {
   color: red;
}

.error_list p {
   color: red;
}

.field_with_errors {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:4px;
   background-color: #f0f0f0;
}

.field_with_errors label {
   color: red;
}

/* zach's css ^^ -------------- */
