// Place all global styles here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/s

input.form-control{
  margin-bottom: 10px;

}

div.centered-div{
  margin-right: auto;
  margin-left: auto;
}

.img-thumbnail{
vertical-align: top;
}

.welcome-img{
  margin-bottom: 20px;
}

.inline-block{
  display: inline-block;
}

.center{
  text-align: center;
}

.row li {
  float: left;
  list-style-type: none;
}

.row ul {
  width: 100%;
  padding-left: 0px;
  //margin-left: 0;
  //padding-right: 0;
  //margin-right: 0;
}

.row li, #left-part{
  width: 25%;
}
.row li, #right-part{
  width: 75%;
}

img {
  border: 0 none;
  display: inline-blocks;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.container-fluid {
  background-color: white;
}

/*
div.image-fill{
  margin-right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: black;
  border-width: thick;
  background-color: white;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 0;
  border-width: 50px;
}


.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 2px solid;
border-top:0px;
border-radius:0;
border-color: black;
}

.well{
  margin-top:0px;
}
*/
span div.panel{
  display: inline-block;
}

/* unvisited link */
a:link.link-style {
    color: #00A500;
}

body {
    -webkit-font-smoothing: antialiased;
    font-rendering: optimizedlegibility;
}

.well {
  background-color: white;
  border-color:rgba(69, 69, 69, 0.26);
}

.panel-heading{
  background-color: rgba(69, 69, 69, 0.26);
}

.navbar{
border-color: rgba(69, 69, 69, 0.26);
}

.well h2{
  margin-top:0;
}

/* visited link */
a:visited.link-style  {
    color: #00A500;
}

/* mouse over link */
a:hover.link-style  {
    color: #FF00FF;
    background: none;
}

/* selected link */
a:active.link-style  {
    color: #0000FF;
}

div.error_explanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   background-color: red;
}

div.error_list {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;
   background-color: #f0f0f0;
}

.error_list li {
   color: red;
}

.error_list p {
   color: red;
}

.field_with_errors {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:4px;
   background-color: #f0f0f0;
}

.field_with_errors label {
   color: red;
}


/* zach's css ^^ -------------- */


div.fluid-map-container {
   border: 2px;
   //border-color: #5cb85c;
   border-style: solid;
   padding: 7px;
   padding-bottom: 400px;
   margin-bottom: 40px;

}
