// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.loginStyle{
	background-image: url('AdirondackPic.jpg');
}

.loginStyle h1{
	text-align: center;
}

.loginStyle h2{
   text-align: center;
}
.loginStyle div {
   margin-top: 10%;
   margin-left: 25%;
   margin-right: 25%;
   border-top: 1px solid #1a171a;
   background: #65d672;
   background: -webkit-gradient(linear, left top, left bottom, from(#0a5407), to(#65d672));
   background: -webkit-linear-gradient(top, #0a5407, #65d672);
   background: -moz-linear-gradient(top, #0a5407, #65d672);
   background: -ms-linear-gradient(top, #0a5407, #65d672);
   background: -o-linear-gradient(top, #0a5407, #65d672);
   padding: 9.5px 19px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

