// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#trailName {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

#trailRating {
	font-size: 100%;
}