// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.fluid-container {
   border: 4px;
   border-color: #5cb85c;
   border-style: solid;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;

}

.trails_table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.trails_table th .asc {
  background-image: url("down-arrow.gif");
}

.trails_table th .desc {
  background-image: url("up-arrow.gif");
}


.trails_table tr:nth-child(even) {background: #CCC}
.trails_table tr:nth-child(odd) {background: #FFF}


table {
    width: 100%;
}
th {
    height: 30px;
    color: black;
}
td {
	height: 25px;
}
