// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.trail-heading-fluid-container {
   border: 1px;
   //border-color: #5cb85c;
   border-style: transparent;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;
   //background-color: #BCA9F5
   border-radius: 10px;

}

div.review-wrapper-fluid-container {
   border: 0px;
   //border-color: #5cb85c;
   border-style: transparent;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;
   //background-color: #BCA9F5
   border-radius: 10px;

}

div.reviews-fluid-container {
   border: 1px;
   //border-color: #5cb85c;
   border-style: solid;
   padding: 10px;
   padding-left: 20px;
   padding-bottom: 12px;
   margin-bottom:0px;
   background-color: #EBF5F0;
   border-radius: 10px;

}

div.new-review-fluid-container {
   border: 0px;
   //border-color: #5cb85c;
   border-style: transparent;
   padding: 20px;
   padding-bottom: 12px;
   margin-bottom:20px;
   background-color: #99C299;
   border-radius: 10px;

}

div.review-edits-container {
   border: 0px;
   //border-color: #5cb85c;
   border-style: transparent;
   padding: 10px;
   //padding-bottom: 12px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 30px;
   margin-bottom:5px;
   margin-top: 10px;
   background-color: white;
   border-radius: 10px;

}

div.comments-wrapper-fluid-container {
   border: 0px;
   //border-color: #5cb85c;
   border-style: solid;
   padding: 3px;
   padding-bottom: 3px;
   margin-bottom:0px;
   margin-top:0px;  
   margin-left: 50px;
   //background-color: #CEE3F6;
   border-radius: 10px;

}

#review-panel {
  border-radius: 20px;
}

#review-panel-heading {
  background-color: #000066;
  color: white;
}

#comment-panel {
  border-radius: 20px;
  margin-bottom: 10px;
}

#comment-panel-heading {
  background-color: #808080;
  color: white;
  font-size: 80%;
}

div.edit-review-container {
  padding-left: 40px;
}

div.leave-comment-container {
  padding-left: 40px;
}

.trails_table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.trails_table th .asc {
  background-image: url("down-arrow.gif");
}

.trails_table th .desc {
  background-image: url("up-arrow.gif");
}


.trails_table tr:nth-child(even) {background: #CCC}
.trails_table tr:nth-child(odd) {background: #FFF}


table {
    width: 100%;
}
th {
    height: 30px;
    color: black;
}
td {
	height: 25px;
  //width: 100%;
}

#trail-heading-description {
  font-size: 125%;
  
}

#trail-heading-creator {
  font-size: 120%;
  color: #848484;
  float: right;

}

#trail-heading-created-by-block {
  float: right;
  text-align: right;
}

#trail-heading-created-by {
  font-size: 100%;
  font-style: italic;
  color: #848484;
  float: right;
}

#comment {
  display: table;
  width: 100%; 
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 0px;
  //float: left;

}

#review-creator-wrapper {
  vertical-align: middle;
  //padding-top: 15px;
}

#review_body {
  background-color: white; //#CEE3F6; //#A9DOF5;
  //border-radius: 10px;
  padding: 10px;
  font-size: 100%;
  //text-align: center;

}

#existing_review_title {
  background-color: #CEE3F6; //#A9DOF5;

}


#comment-creator-wrapper {
  vertical-align: middle;
  //padding-top: 15px;
}

#comment_user_name {
  text-align: left;
  font-size: 100%;
  width: 50px;
}

#comment_user {
  display: table-cell;
  width: 50px;
}

#comment_body {
  background-color: white; //#CEE3F6; //#A9DOF5;
  text-align: left;
  font-size: 100%;
  padding: 10px;
  //width: 100%;
  //display: table-row;
}

#date_and_text {
  display: inline-table;
  width: 100%;
  padding: 15px; 
  //float: left;

}
date_and_text_wrapper {
  display: table-cell;
  width: 100%; 
  padding: 7px;
  //float: left;

}

//table#comment {
 // width: 100%; 
  //padding: 5px;
  
//}

td#review_user {
  text-align: left;
  font-size: 100%;
}

#review_title {
  text-align: center;
  //line-height: 500%;
  padding: 5px;
  font-size: 150%;
}

#review_rating {
  text-align: center;
  //line-height: 500%;
  padding-bottom: 5px;
  font-size: 100%;
}





#date_created_display {
  text-align: right;
  //vertical-align: top;
  color: #848484;
  font-style: italic;
  //width: 100%;
  //padding: 5px;
  //display: table-cell;
}