// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.fluid-container {
   border: 4px;
   border-color: #5cb85c;
   border-style: solid;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;

}



