// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.fluid-container {
   border: 2px solid green;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom:20px;

}

